node_modules/
frontend/node_modules/
dist/
.next/
frontend/.next/
.env
.env.*
*.env
*.key
*.pem
*.log
new-paseto-keys.txt
new-db-password.txt
new-auth-db-password.txt
new-vault-token.txt
.DS_Store
coverage/
*.tsbuildinfo
*.mp4
